@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #e4e4e4;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.App {
  width: 900px;
  margin: 100px auto;
  background-color: #b9c9ff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(177, 163, 255);
  transition: 1s;
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.block {
  width: 415px;
  textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    font-size: 3rem;
    font-weight: bolder;
    outline: none;
    width: 100%;
    resize: none;
  }
}

.numberSystems {
  display: flex;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  li {
    padding: 20px 20px;
    display: inline-flex;
    flex: 1;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    
    &:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    &:last-of-type {
      border-radius: 0px 10px 10px 0px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.active {
      background-color: #b499ff;
      color: #ffffff;
    }
  }
}

.romesInfo {
  font-weight: bolder;
  font-size: 20px;
}

.convertBtn {
  transition: 0.1s ;
  display: none;//block
  position: relative;
  width: 40%;
  height: 100px;
  margin: 0 auto;
  color: #b499ff;
  font-weight: bolder;
  font-size: 50px;
  cursor: pointer;
  background-color: #ffffff;
  border: 3px solid rgba(177, 163, 235);
  border-radius: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}